---
import Pill from "./Pill.astro";

const { experience } = Astro.props;
---

<div class="flex gap-x-3">
    <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-[2px] after:-translate-x-[0.5px] after:bg-white"
    >
        <div class="relative z-10 size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-purple-500"></div>
            <div class="absolute size-2 rounded-full bg-purple-500 blur-sm">
            </div>
        </div>
    </div>

    <div class="pt-1 pb-8">
        <Pill class="bg-purple-500/30 border border-purple-500/80 w-max mb-2">
            <span class="text-xs">{experience.duration}</span>
        </Pill>
        <h3
            class="flex gap-x-1.5 font-semibold text-white dark:text-white justify-start items-center"
        >
            <span class="text-lg"
                >{experience.title}
                {
                    experience.where && (
                        <span class="text-lg text-purple-200">
                            ( {experience.where} )
                        </span>
                    )
                }
            </span>
        </h3>
        <p class="mt-3 text-md text-white/75">
            {experience.description}
        </p>

        {
            experience.logo && (
                <img
                    class="mt-3 flex-shrink-0 h-12 w-auto rounded-full"
                    src={experience.logo}
                    alt={`Logo de ${experience.title}`}
                />
            )
        }

        {
            experience.skills && (
                <div class="flex justify-start items-center gap-x-3 mt-3">
                    {experience.skills.map((skill) => {
                        return (
                            <Pill class="bg-white/30  w-max select-none">
                                <span class="text-xs">{skill}</span>
                            </Pill>
                        );
                    })}
                </div>
            )
        }
    </div>
    <!-- End Right Content -->
</div>
<!-- End Item -->
